@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./styles/variables/measures";
@import "./styles/variables/colors";
@import "./styles/variables/media-queries";
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.btn.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

//? ------------- Nabvar -------------
.my-nabvar {
  min-height: $heightNabvar;
  z-index: 500;
  .navbar-container-button {
    @include querie-compu {
      width: 12rem;
    }
  }
}
//? ------------- Hero -------------
.hero {
  padding-top: $heightNabvar;
  min-height: 90vh;

  .hero-imgs-picture {
    &__img-mobile {
      position: absolute;
      top: -4.2rem;
      left: 0;
      // background-color: blue;
    }
  }
  .hero-imgs__phones {
    position: absolute;
    top: -7.2rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
  }
  .hero-info {
    margin: 19rem 0 0 0;
    padding: 0 0 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    @include querie-compu {
      align-items: flex-start;
      justify-content: center;
    }
    &__title {
      font-size: 2.4rem;
    }
    &__description {
      font-size: 0.95rem;
      margin: 1rem 0;
      color: $GrayishBlue;
    }
  }
}
//? ------------- Services -------------
.services {
  background-color: $LightGrayishBlue;
  padding: 4.5rem 0;
  .services-container-info {
    &__title {
      font-size: 2rem;
      font-weight: 400;
      @include querie-compu {
        font-size: 2.5rem;
      }
    }
    &__description {
      font-size: 0.8rem;
      color: $GrayishBlue;
      @include querie-compu {
        font-size: 1.15rem;
      }
    }
  }

  .service {
    &__title {
      font-size: 1.3rem;
      font-weight: 400;
      margin: 1rem 0;
      @include querie-compu {
        font-size: 1.5rem;
      }
    }
    &__description {
      font-size: 0.8rem;
      color: $GrayishBlue;
      @include querie-compu {
        font-size: 1.15rem;
      }
    }
  }
}
//? ------------- Articles -------------
.articles {
  // padding: 0 0.5rem;
  background-color: $VeryLightGray;
  &__title {
    font-size: 1.5rem;
  }
  &__title--main {
    font-size: 2rem;
    margin: 1.5rem 0;
    font-weight: 400;
  }
}
//? ------------- Footer -------------
.footer {
  background-color: $DarkBlue;
  .footer-logo-social-media {
    &__container-social-media {
      img {
        margin: 0 0.5rem;
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
  .footer-items {
    &__list {
      list-style: none;
    }
  }
  .footer-copyright {
    &__text {
      color: $GrayishBlue;
    }
  }
}
// ******************* COMPONENTES *******************
.card {
  border: none;

  padding: 0 0 2rem 0;
  @include querie-compu {
    // margin: 0 0.5rem;
  }
  .card-subtitle,
  .card-text {
    color: $GrayishBlue;
  }

  .card-subtitle {
    font-size: 0.7rem;
  }
  .card-title {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }
  .card-text {
    font-size: 0.88rem;
  }
}
//? ------------- btn-invite -------------
.btn-invite {
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 92%
  );

  padding: 0.7rem 0;
  border-radius: 5rem;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  @include querie-compu {
    width: 100%;
  }
}
